/* =================================== */
/*  5. Elements
/* =================================== */
  
/*=== 5.1 Featured Box ===*/
.featured-box {
  box-sizing: border-box;
  position: relative;
  h3, h4 {
  	font-size: 1.25rem;
	font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  &:not(.style-5) .featured-box-icon {
    display: inline-block;
    font-size: 40px;
	min-width: 45px;
    min-height: 45px;
    line-height: 45px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    color: #4c4d4d;
    border-radius: 0;
  }
  &.style-1, &.style-2, &.style-3 {
    padding-left: 50px;
    padding-top: 8px;
  }
  &.style-1 .featured-box-icon, &.style-2 .featured-box-icon, &.style-3 .featured-box-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin-bottom: 0;
    font-size: 30px;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    text-align: center;
  }
  &.style-2 p {
    margin-left: -50px;
  }
  &.style-3 {
    padding-left: 90px;
    padding-top: 0px;
    .featured-box-icon {
      width: 70px;
      height: 70px;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }
  &.style-4 {
    text-align: center;
    .featured-box-icon {
      margin: 0 auto 24px;
      margin: 0 auto 1.5rem;
      width: 120px;
      height: 120px;
      text-align: center;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
	  -ms-flex-pack: center;
	  justify-content: center;
	  @include box-shadow(0px 0px 50px rgba(0, 0, 0, 0.03));
    }
  }
  
  &.style-5 {
  text-align: center;
  background: #fff;
  border: 1px solid #f0f2f3;
  @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.05));
  @include transition(all 0.3s ease-in-out);
  &:hover {
    border: 1px solid #ebeded;
	@include box-shadow(0px 5px 1.5rem rgba(0, 0, 0, 0.15));
  }
  h3 {
    background: #f1f5f6;
    font-size: 16px;
    padding: 8px 0;
    margin-bottom: 0px;
  }
  .featured-box-icon {
    font-size: 50px;
    margin: 44px 0px;
  }
}
}


@mixin featured-box-reverse {
	text-align:right;
	&.style-1, &.style-2{
		padding-right:50px;
		padding-left:0px;
		.featured-box-icon{
			left:auto;
			right:0px;
		}
	}
	&.style-2 p{
		margin-right: -50px;
		margin-left:0;
	}
	&.style-3{
		padding-left:0;
		padding-right:90px;
		.featured-box-icon{
			left:auto;
			right:0px;
		}
	}
}

.featured-box.featured-box-reverse{
	@include featured-box-reverse;
}

@include media-breakpoint-up(xs) {
	.featured-box.featured-box-reverse-sm{
		@include featured-box-reverse;
	}
}

@include media-breakpoint-up(sm) {
	.featured-box.featured-box-reverse-md{
		@include featured-box-reverse;
	}
}

@include media-breakpoint-up(md) {
	.featured-box.featured-box-reverse-lg{
		@include featured-box-reverse;
	}
}
@include media-breakpoint-up(lg) {
	.featured-box.featured-box-reverse-xl{
		@include featured-box-reverse;
	}
}



/* Video Play button */
.btn-video-play {
  width:66px;
  height:66px;
  line-height:66px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius:50%;
  background:#fff;
  @include box-shadow(0px 0px 50px -35px rgba(0, 0, 0, 0.4));
  @include transition(all 0.8s ease-in-out);
}
.btn-video-play:hover{
	@include box-shadow(0px 0px 0px 8px rgba(250, 250, 250, 0.2));
}

/* Testimonial */
.testimonial{
	background:#fff; border:1px solid #f1f5f6; 
	@include box-shadow(0px 5px 10px rgba(0, 0, 0, 0.05));
	@include transition(all 0.3s ease-in-out);
}

/*=== 5.2 Team ===*/

.team{text-align:center;}
.team .team-img{position:relative; overflow:hidden; display: -ms-flexbox; display: flex;}
.team .team-overlay{
text-align:center;
display: -ms-flexbox !important;
display: flex !important;
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background:rgba(0, 0, 0, 0.7);
opacity: 0;
@include transition(all 0.3s ease-in-out);
}

.team:hover .team-overlay{opacity: 1;}
.team .team-overlay-details{width:100%; margin-top:auto; margin-bottom:auto;}

.team .team-img img{
	@include transition(all 0.3s ease-in-out);
}

.team:hover .team-img img{
	
	@include scale(1.04);
}

.team .team-details{padding:1.5rem 0;}


/*=== 5.3 Accordion & Toggle ===*/
.accordion {
  .card {
    border: none;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    background-color: transparent;
  }
  .card-header {
    padding: 0;
    border: none;
    background: none;
    a {
      font-size: 16px;
	  font-weight:normal;
      padding: 1rem 1.25rem 1rem 2.25rem;
      display: block;
      border-radius: 4px;
      position: relative;
    }
  }
  &:not(.accordion-alternate) .card-header a {
    background-color: $primary-color;
    color: #fff;
    &.collapsed {
      background-color: rgba(0,0,0,0.06);
      color: #4c4d4d;
    }
  }
  .card-header a {
    &:before {
      position: absolute;
      content: " ";
      left: 20px;
      top: calc(50% + 2px);
      width: 9px;
      height: 9px;
      border-color: #CCC;
      border-top: 2px solid;
      border-right: 2px solid;
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      transform: translate(-50%, -50%) rotate(-45deg);
	  @include transition(all 0.2s ease);
	  -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    &.collapsed:before {
      top: calc(50% - 2px);
      -webkit-transform: translate(-50%, -50%) rotate(135deg);
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
  .card-body {
    line-height: 26px;
    padding: 1rem 0 1rem 2.25rem;
  }
  &.arrow-right .card-header a{
		padding-left:1.25rem;
    &:before {
		right: 15px;
		left: auto;
	}
  }
  &.accordion-alternate {
    .card {
      margin: 0;
    }
    .card-header a {
      padding-left: 1.40rem;
      border-top: 1px solid rgba(0,0,0,0.10);
      border-radius: 0px;
    }
    .card:first-of-type .card-header a {
      border-top: 0px;
    }
    .card-header a {
      &:before {
        left: 6px;
      }
      &.collapsed {
        color: #4c4d4d;
      }
    }
    .card-body {
      padding: 0rem 0 1rem 1.25rem;
    }
	&.arrow-right .card-header a{
		padding-left:0;
    &:before {
		right: 0px;
		left: auto;
	}
  }


  }
  &.toggle .card-header a {
    &:before {
      content: "-";
      border: none;
      font-size: 20px;
      height: auto;
      top: calc(50% + 2px);
      width: auto;
	  -webkit-transform: translate(-50%, -50%) rotate(180deg);
      transform: translate(-50%, -50%) rotate(180deg);
    }
    &.collapsed:before {
      content: "+";
	  top: calc(50% - 0px);
	  -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
    }
  }
  &.accordion-alternate.style-2 {
    .card-header a {
      &:before {
        right: 2px;
        left: auto;
		-webkit-transform: translate(-50%, -50%) rotate(135deg);
        transform: translate(-50%, -50%) rotate(135deg);
        top: 50%;
      }
      &.collapsed:before {
	  	-webkit-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
      }
      padding-left: 0px;
    }
    .card-body {
      padding-left: 0px;
    }
  }
  &.accordion-alternate.popularRoutes {
	.card-header {
	  .nav {
		margin-top: 3px;
		a {
		  font-size: 14px;
		}
	  }
	  a {
		padding: 0px 8px 0px 0px;
		border: none;
		font-size: inherit;
		&:before {
		  content: none;
		}
	  }
	  h5 {
		cursor: pointer;
		&:before {
		  position: absolute;
		  content: " ";
		  right: 0px;
		  top: 24px;
		  width: 10px;
		  height: 10px;
		  opacity: 0.6;
		  border-top: 2px solid;
		  border-right: 2px solid;
		  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
		  transform: translate(-50%, -50%) rotate(-45deg);
		  -webkit-transition: all 0.2s ease;
		  transition: all 0.2s ease;
		  -webkit-backface-visibility: hidden;
		  backface-visibility: hidden;
		}
		&.collapsed:before {
		  top: 24px;
		  -webkit-transform: translate(-50%, -50%) rotate(135deg);
		  transform: translate(-50%, -50%) rotate(135deg);
		}
	  }
	}
	.card-body {
	  padding: 0;
	}
	.card {
	  border-bottom: 2px solid #e4e9ec;
	  padding: 15px 0px;
	}
	.routes-list {
	  margin: 1rem 0px 0px 0px;
	  padding: 0px;
	  list-style: none;
	  a {
		color: inherit;
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		&:hover {
		  color: #0071cc;
		  text-decoration: underline;
		}
	  }
	}
  }
&.accordion-light {
  &:not(.accordion-alternate) .card-header a.collapsed {
    background: rgba(250, 250, 250, 0.12);
    color: #dee3e4;
  }
  .card-body {
    color: #8e9a9d;
  }
  &.accordion-alternate .card-header a {
    &.collapsed {
      color: #dee3e4;
    }
    border-color: rgba(250, 250, 250, 0.12);
  }
}
  
}


/* 5.4 Nav */

.nav .nav-item .nav-link{color: #7b8084;}
.nav.nav-light .nav-item .nav-link{color: #ddd;}
.nav:not(.nav-pills) .nav-item .nav-link.active, .nav:not(.nav-pills) .nav-item .nav-link:hover{color: $primary-color;}

.nav.nav-separator .nav-item .nav-link{position:relative;}
.nav.nav-separator .nav-item + .nav-item .nav-link:after{
		height: 14px;
        width: 1px;
        content: ' ';
        background-color: rgba(0,0,0,0.2);
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
		@include translateY(-7px);
}
.nav.nav-separator.nav-separator-light .nav-item + .nav-item .nav-link:after{
background-color: rgba(250,250,250,0.2);
}

.nav-pills .nav-link:not(.active):hover{color: $primary-color;}
.nav-pills .nav-link.active,.nav-pills.nav-light .nav-link.active, .nav-pills .show > .nav-link{color:#fff;}

.nav-pills .nav-link{color: #7b8084;}
.nav-pills .nav-link:not(.active):hover{color: $primary-color;}

.nav.nav-lg .nav-item .nav-link{padding:1rem 20px; font-size: 1rem;}
.nav.nav-pills.nav-lg .nav-item .nav-link{padding:0.7rem 20px;}
.nav.nav-tabs.nav-lg .nav-item .nav-link.active:after{height:3px;}



/*=== 5.5 Tabs ===*/

.nav-tabs {
  border-bottom: 1px solid #d7dee3;
  .nav-item .nav-link {
	border:0;
    background: transparent;
    
    position: relative;
    border-radius: 0;
	padding:0.6rem 1rem;
    color: #7b8084;
	white-space: nowrap !important;
    &.active {
      &:after {
        height: 2px;
        width: 100%;
        content: ' ';
        background-color: $primary-color;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
		@include translateY(-3px);
      }
      color: #0c2f55;
    }
	&:not(.active):hover {
      color: $primary-color;
    }
  }
  &.flex-column {
    border-right: 1px solid #d7dee3;
    border-bottom: 0px;
    padding: 1.5rem 0;
    .nav-item {
      .nav-link {
        border: 1px solid #d7dee3;
        border-right: 0px;
        background-color: #f6f7f8;
        font-size: 14px;
        padding: 0.75rem 1rem;
        color: #535b61;
      }
      &:first-of-type .nav-link {
        border-top-left-radius: 4px;
      }
      &:last-of-type .nav-link {
        border-bottom-left-radius: 4px;
      }
      .nav-link.active {
        &:after {
          height: 100%;
          width: 2px;
          background: #fff;
          right: -1px;
          left: auto;
        }
        background-color: transparent;
        color: $primary-color;
      }
    }
  }
}

.nav-tabs:not(.flex-column) {
  .nav-item {
    margin-bottom: 0px;
  }
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}


@include media-breakpoint-down(xs) {
  .nav-tabs .nav-item .nav-link {
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 10px;
	font-size: 0.875rem;
  }
}

@include media-breakpoint-up(lg) {
.search-input-2 {
  .form-control {
    border-radius: 0px;
  }
  .custom-select:not(.custom-select-sm) {
    border-radius: 0px;
    height: calc(3.05rem);
  }
  .btn {
    border-radius: 0px;
  }
  .form-group {
    &:first-child {
      .form-control, .custom-select {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }
    }
    &:last-child .btn {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .form-control:focus, .custom-select:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  .form-group .form-control, .custom-select {
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
}


/* CSS hack for Chrome */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .search-input-2 {
    .custom-select:not(.custom-select-sm) {
      height: calc(3.00rem);
    }
    .btn {
      line-height: inherit;
    }
  }
}

/*  CSS hack for Firfox */
@-moz-document url-prefix() {       
	.search-input-2 {
    .custom-select:not(.custom-select-sm) {
      height: calc(3.05rem);
    }
    .btn {
      line-height: 1.4;
    }
  }
}

}



/*=== 5.6 Hero Background ===*/
.hero-wrap {
  position: relative;
  .hero-mask, .hero-bg, .hero-bg-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .hero-mask {
    z-index: 1;
  }
  .hero-content {
    position: relative;
    z-index: 2;
  }
  .hero-bg-slideshow {
    z-index: 0;
  }
  .hero-bg {
    z-index: 0;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    transition: background-image 300ms ease-in 200ms;
	&.hero-bg-scroll{
		background-attachment: scroll;
	}
  }
  .hero-bg-slideshow {
    .hero-bg {
      background-attachment: inherit;
    }
    &.owl-carousel {
      .owl-stage-outer, .owl-stage, .owl-item {
        height: 100%;
      }
    }
  }
}

/*=== 5.7 Owl Carousel ===*/

.owl-theme {  
  &.single-slideshow {
    .owl-nav button {
      &.owl-prev, &.owl-next {
        font-size: 17px;
        width: 45px;
        height: 45px;
        top: calc(50% - 22px);
      }
      &.owl-prev {
        left: 10px;
      }
      &.owl-next {
        right: 10px;
      }
    }
    .owl-stage {
      padding: 0;
    }
  }
  .hero-wrap .hero-bg {
    background-attachment: inherit;
  }
  &.single-slideshow .owl-dots {
	position: absolute;
	bottom: 10px;
	width: 100%;
	.owl-dot {
		&.active span, &:hover span {
		background: rgba(250, 250, 250, 0.5);
		@include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
		}
	span {
      border-color: rgba(250, 250, 250, 0.5);
	  @include box-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));
    }
	}
  }
  &.owl-light .owl-dots .owl-dot {
    span {
      border-color: rgba(250, 250, 250, 0.6);
    }
    &.active span {
      background-color: rgba(250, 250, 250, 0.6);
    }
	&:hover span {
	  background-color: rgba(250, 250, 250, 0.6);
	}
  }
  &.owl-light {
	.owl-nav button {
      &.owl-prev, &.owl-next {
        background-color:rgba(250,250,250,0.30);
		color:#fff;
      }
    }
	.owl-nav [class*='owl-']:hover:not(.disabled) {
		background-color:rgba(250,250,250,0.8);
		color:#000;
		@include transition(all 0.3s ease-in-out);
	}
  }
}


/*=== 5.8 Brands Grid ===*/

.brands-grid {
  overflow: hidden;
  > .row > div {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &.separator-border > .row > div {
    &:after, &:before {
      content: '';
      position: absolute;
    }
    &:after {
      width: 100%;
      height: 0;
      top: auto;
      left: 0;
      bottom: -1px;
      border-bottom: 1px dotted #e0dede;
    }
    &:before {
      height: 100%;
      top: 0;
      left: -1px;
      border-left: 1px dotted #e0dede;
    }
  }
  &.separator-border.separator-border-light > .row > div {
	&:after {
	border-bottom: 1px dotted rgba(250,250,250,0.15);
	}
	&:before {
	border-left: 1px dotted rgba(250,250,250,0.15);
	}
  }
  
}

/*=== 5.9 Portfolio ===*/

.portfolio {
  .portfolio-box {
    position: relative;
    .portfolio-img {
      position: relative;
      overflow: hidden;
    }
    .portfolio-overlay {
      text-align: center;
      display: -ms-flexbox !important;
      display: flex !important;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      opacity: 0;
	  @include transition(all 0.3s ease-in-out);
    }
    &:hover .portfolio-overlay {
      opacity: 1;
    }
    .portfolio-img img {
		@include transition(all 0.3s ease-in-out);
	}

    &:hover .portfolio-img img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
	  @include scale(1.03);
    }
    .portfolio-overlay-details {
      width: 100%;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
  .portfolio-details {
    padding: 1.5rem 0;
    text-align: center;
  }
}

.ajax-container {
  position: relative;
  background: #FFF;
  margin: 40px auto;
  max-width: 1170px;
  padding: 30px;
  text-align: left;
}



/*=== 5.10 Banner ===*/
.banner {
  .item {
    position: relative;
    img {
      vertical-align: middle;
    }
  }
  .caption {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    padding: 15px 20px;
    h2, h3 {
      font-size: 19px;
      color: #fff;
	  @include transition(all 0.3s ease);
    }
    p {
      color: rgba(250, 250, 250, 0.8);
      margin-bottom: 0px;
    }
  }
  .rounded {
    .banner-mask, img {
      border-radius: .25rem;
    }
  }
  .banner-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    backface-visibility: hidden;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.6));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.6));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 1));
    opacity: 0.7;
	@include transition(all 0.5s ease);
  }
  .item:hover .banner-mask {
    opacity: 0.95;
    filter: alpha(opacity = 95);
	@include transition(all 0.5s ease);
  }
  &.style-2 {
    .caption {
      background: rgba(0, 0, 0, 0.5);
    }
    .banner-mask {
      opacity: 0;
    }
    .item:hover {
      .banner-mask {
        opacity: 0.40;
      }
      .caption h2 {
        margin-left: 8px;
      }
    }
  }
}

/*=== 5.11 List Style ===*/

.list-style-1 > li {
  position: relative;
  list-style-type: none;
  line-height: 24px;
  &:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -15px;
    border-color: #000;
    border-top: 1px solid;
    border-right: 1px solid;
    width: 6px;
    height: 6px;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

.list-style-2{padding:0;}

.list-style-2 > li {
  list-style-type: none;
  border-bottom: 1px solid #eaeaea;
  padding-top: 9px;
  padding-bottom: 9px;
}
.list-style-2.list-style-light > li {
  border-bottom: 1px solid rgba(250,250,250,0.12);
}


/*=== 5.12 Workflow Process ===*/

.workflow-process {
  min-height: 356px;
  position: relative;
  .workflow-process-item {
    height: 178px;
    padding-bottom: 2.8rem;
    padding-top: auto;
    text-align: center;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    &:after {
      content: "";
      position: absolute;
      display: block;
      height: 6px;
      width: 100%;
      left: 0px;
      bottom: -3px;
      z-index: 0;
      background: #fff;
	  box-shadow:0 .5rem 1rem rgba(0,0,0,.15) !important;
    }
    &.align-self-end:after {
      bottom: auto;
      top: -3px;
    }
    &:first-child:after {
      left: 50%;
      width: 50%;
    }
    &:last-child:after {
      width: 50%;
    }
    .workflow-process-badge {
      background: #fff;
      position: absolute;
      bottom: 0px;
      left: calc(50% - 23px);
      transform: translateY(50%);
      width: 46px;
      height: 46px;
      line-height: 46px;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      display: inline-block;
      border-radius: 50%;
      z-index: 1;
    }
    &.align-self-end {
      padding-top: 2.8rem;
      padding-bottom: auto;

      .workflow-process-badge {
        top: 0px;
        bottom: auto;
        transform: translateY(-50%);
      }
    }
  }
}

.workflow-process.workflow-process-dark .workflow-process-item .workflow-process-badge{color:#fff; background:rgba(0,0,0,0.9);}
.workflow-process.workflow-process-dark .workflow-process-item::after{background:rgba(0,0,0,0.7); box-shadow:0 .5rem 1rem rgba(250,250,250,.08) !important;}


@include media-breakpoint-down(md) {
.workflow-process .workflow-process-item {
  margin-bottom: 20px;
  height: auto;
  padding-top: 1.8rem;
  &:last-child {
    margin-bottom: 0px;
    height: auto;
    padding-bottom: 0;
  }
  &:after {
    content: none;
  }
  .workflow-process-badge {
    bottom: auto;
    top: 0px;
    transform: translateY(-50%);
  }
}
}


/* Workflow Process alternate Style*/

.workflow{position:relative;}
.workflow:after{
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    position: absolute;
    top:10px;
    width:4px;
    z-index: 0;
	background:#fff;
	box-shadow:0 0rem 1.5rem rgba(0, 0, 0, 0.10);
	}
	
.workflow .workflow-item:before{clear:both;
	content:' ';
	display:block;
	width:20px;
	height:20px;
	background:#bbb;
	z-index:1;
	position:absolute;
	border:7px solid #fff;
	border-radius:50%;
	top:6px;
	right:-10px;
	box-shadow:0 .125rem .25rem rgba(0,0,0,.075);
	}
	
.workflow .row:nth-child(even) .workflow-item:before{
	left:-10px;
	right:auto;
	}
	
.workflow .workflow-item .workflow-icon{
	width:150px;
	height:150px;
	background:#fff;
	text-align:center;
	border-radius:50%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
}

.workflow.workflow-dark:after{background:#2b343c; box-shadow:none;}
.workflow.workflow-dark .workflow-item:before{background:#aaa; border-color:#2b343c;}

@include media-breakpoint-down(xs) {
	.workflow:after, .workflow .workflow-item:before{content:none;}
}